---
layout: default
---
{% assign authors = site.authors %}

<div id="subnav" class="visible-desktop subnav subnav-fixed-top">
	<div class="subnav-inner">
		<div class="container">
			<a href="/careers" class="brand">Blog</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8" id="posts">
		{% for post in site.posts %}
		{% assign author = site.authors[post.author] %}
		<article>
			{% include article_header.html %}			
			</header>
			<p>{{ post.content }}</p>
			<a href="{{post.url}}#disqus_thread">Comments</a>
		</article>
		{% endfor %}
	</div>
	<div class="span4" id="sidebar">
		{% include authors.html %}
	</div>
</div>
