@import "bootstrap/bootstrap.less";

body {
  padding-top: 120px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";
@import "font-awesome.less";


/* 
===== Primary Styles ========================================================
   Author: dagingaa
========================================================================== */

#authors div.author {
	border-top: 1px solid #757575;
} 
.author .img {
	margin-top: 10px;
}

.author p {
	font-size: 13px;
}

.pink {
	color: #ed003d;
}

article p {
	line-height: 1.5em;
}

article img {
	padding: 20px 0;
}

#disqus_thread img {
	padding: 0;
}

.byline span {
	padding-right: 10%;
}

/* who works here specific styling */
.careers {
	.thumbnails li {
		opacity: 0.3;
		filter: gray;
		-webkit-filter: grayscale(1);
		&:hover {
			opacity: 1;
			filter: none;
			-webkit-filter: grayscale(0);
		}
	}
	.center {
		text-align: center;
	}
	.page-header {
		border: none;
		margin: 0;
	}
	.page-lead {
		border-top: 1px solid #dddddb;
		padding: 1em;
	}
	blockquote {
		border: none;
		padding: 0;
		cite {
			text-align: right;
		}
	}

	.profile {
		small {
			font-size: 0.5em;
			font-style: italic;
			color: @grayLight;
		}
	}
	ol li {
		list-style-type: none;
		display: block;
	    counter-increment: level1;
	    margin: 1em;
	    margin-bottom: 2em;
	    &:first-child {
	    	counter-reset: level1;
	    }
	}
	ol li:before {
	    content: counter(level1) "\A\A";
	    white-space: pre;
	    font-size: 2em;
	}
	ol li:after {
	    content: "\A\A";
	}

	ul, ol {
  		padding: 0;
  		margin: 0;
	}

	#products {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	.subtitle {
		font-family: ComoyoQuickRegular, proxima-nova, "Helvetica Neue", Arial, sans-serif;
		font-size: 1.2em;
	}
}

section {
	margin-bottom: 5%;
}