---
layout: blog
---
{% assign author = site.authors[page.author] %}
<div class="row">
	<div class="span8">
		<article>
			{% include article_header.html %}
			{{content}}
			{% include comments.html %}
		</article>
	</div>
	<div class="span4" id="sidebar">
		<div class="well">
			{% if author %}
				{% include author.html %}
			{% endif %}
			{% if page.authors %}
				{% for username in page.authors %}
					{% assign author = site.authors[username] %}
					{% include author.html %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
